.aboutUs_aboutWork {
  margin-top: 110px;
}

.aboutWork {
  display: flex;
  margin-top: 110px;
  gap: 64px;
}

.aboutWork_content {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.aboutWork_content button {
  max-width: fit-content;
}

.aboutWork_img {
  width: 100%;
  height: 350px;
  border-radius: 70px;
  background-size: cover;
}

.reverse {
  flex-direction: row-reverse;
}

@media screen and (max-width: 1150px) {
  .aboutWork {
    flex-direction: column-reverse;
  }
}
