.banner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 350px;
  background-position: center;
  background-size: cover;
  margin-left: -100px;
  margin-right: -100px;
}

.banner_div {
  background-color: var(--color-white);
  border-radius: 32px 32px 0 0;
  padding: 32px 82px;
}
@media screen and (max-width: 1150px) {
  .banner {
    margin-left: -50px;
    margin-right: -50px;
  }
}
@media screen and (max-width: 650px) {
  .banner {
    margin-left: -32px;
    margin-right: -32px;
  }
}
